@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root, #app {
  height: 100%;
}



table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(33, 33, 33);
}

td {
  background-color: rgb(99, 99, 99);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

/* component */

.label {
  position: absolute;
  top: -6px;
  opacity: 0;
  /* cursor: pointer !important; */
  /* pointer-events: none; */
}

div:hover > .label, .label:hover {
  opacity: 1;
  
}

div:hover > .drag, .drag:hover {
  cursor: move;
  pointer-events: all;
}